<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="UniqueWindowProcessorTestSuit" verbose="1">
    <test name="UniqueWindowProcessorTest">
        <classes>
            <class name="org.wso2.extension.siddhi.execution.unique.UniqueEverWindowTestCase" />
            <class name="org.wso2.extension.siddhi.execution.unique.UniqueExternalTimeBatchWindowProcessor" />
            <class name="org.wso2.extension.siddhi.execution.unique.UniqueLengthBatchWindowTestCase" />
            <class name="org.wso2.extension.siddhi.execution.unique.UniqueTimeWindowTestCase" />
            <class name="org.wso2.extension.siddhi.execution.unique.UniqueFirstLengthBatchWindowTestCase" />
            <class name="org.wso2.extension.siddhi.execution.unique.UniqueLengthWindowTestCase" />
            <class name="org.wso2.extension.siddhi.execution.unique.UniqueFirstWindowTestCase" />
            <class name="org.wso2.extension.siddhi.execution.unique.UniqueExternalTimeBatchWindowTestCase" />
            <class name="org.wso2.extension.siddhi.execution.unique.UniqueFirstTimeBatchWindowTestCase" />
            <class name="org.wso2.extension.siddhi.execution.unique.UniqueTimeBatchWindowTestCase" />
        </classes>
    </test>
</suite>

